@import 'common.scss';

body,html {
    background: rgba(237,237,237,0.90);
}

#app{
    height: 100vh;
    position: relative;

    #container{
        padding: 0 16px;
        margin-top: 60px;

        
    }
}